<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>{{section.title}}</title>
  <link rel="stylesheet" href="/simple.css">
</head>

<body>
  <section class="section">
    <div class="container">
        <p class="notice">Эта игра предназначена строго для игроков 18+! Если вы не являетесь совершеннолетним, то покиньте эту страницу. Игра посвящена исключительно фантазиям, 
            и не пропагандирует ничего, кроме секса в&nbsp;браке со своим партнером.</p>
      {% block content %}
      {{ section.content | safe }}
      
      {% endblock %}
    </div>
  </section>
</body>

</html>